.sale-container{
    padding-bottom: 20px;
}

.sale-grid-container{
    display: grid;
}

@media (min-width: 768px){
    .sale-grid-container{
        grid-template-columns: 400px 400px 400px;
        margin-top: 40px;
    }

    .title-element{
        margin-left: 1px;
    }

    .sale-container{
        padding-top: 49px;
    }
}

@media (max-width: 768px) {
    .sale-grid-container{
        grid-template-columns: 400px;
        margin-top: 20px;
    }

    .title-element{
        margin-left: 31px;
    }

    .sale-container{
        padding-top: 28px;
    }
}

.sale-element{
    width: 400px;
    height: 580px;
}

.sale-group{
    position: relative;
    width: 100%;
    height: 100%;
}

.image-element>.ladi-image>.ladi-image-background{
    width: 403.591px;
    height: 571.498px;
}

.image-element, .image-element>.ladi-image>.ladi-image-background{
    top: 0px;
    left: 0px;
}

.title-element{
    width: 358px;
    height: 64.5455px;
}

.para-lead{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}
